TENANT_ID=your-tenant-id
CLIENT_ID=your-client-app-id
CLIENT_SECRET=your-client-app-secret
SMTP_RELAY_HOSTNAME=0.0.0.0
SMTP_RELAY_PORT=25
SMTP_AUTH_USER=demo
SMTP_AUTH_PASS=demo123
SMTP_AUTH_METHOD=plain
TLS_KEY_PATH=
TLS_CERT_PATH=
LOG_LEVEL=DEBUG
ALLOWED_IPS=""
SAVE_TO_SENT=true
SOFT_DELETE=true
ALLOW_SEND_INCOMPLETE=false
MIDDLEWARE_DIR=./middleware

TEST_FROM_ADDRESS=me@company.com
TEST_TO_ADDRESS=68139b36-14fc-488d-bd63-46fccd6ec9c3@emailhook.site
TEST_CC_ADDRESS==?utf-8?Q?T=C3=A9st?= <0a20066f-d51c-48c7-995a-d006604b5c10@emailhook.site>
TEST_BCC_ADDRESS=<1e0cd728-0abf-4248-b0ca-f62cf91159c5@emailhook.site>
